name: build

on: push

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Windows Chinese Language Pack
        run: |
          Add-WindowsCapability -Online -Name "Language.Fonts.Hans~~~zh-CN~0.0.1.0"
        shell: pwsh

      - uses: wtfjoke/setup-tectonic@v4

      - name: Build PDF with Tectonic
        run: |
          cd src

          Copy-Item grlnotes.tex grlnotes-a4paper.tex
          $content = Get-Content grlnotes-a4paper.tex
          $content[0] = '\documentclass[final,oneside,fontset=windows]{ctexbook}'
          $content[1] = '\setmainfont{Times New Roman}'
          $content[2] = '\usepackage[a4paper]{geometry}'
          $content | Set-Content grlnotes-a4paper.tex

          tectonic -X compile -Z shell-escape grlnotes-a4paper.tex

          Copy-Item grlnotes.tex grlnotes-b5paper.tex
          $content = Get-Content grlnotes-b5paper.tex
          $content[0] = '\documentclass[final,oneside,fontset=windows]{ctexbook}'
          $content[1] = '\setmainfont{Times New Roman}'
          $content[2] = '\usepackage[b5paper]{geometry}'
          $content | Set-Content grlnotes-b5paper.tex

          tectonic -X compile -Z shell-escape grlnotes-b5paper.tex
        shell: pwsh

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          path: src/grlnotes-b5paper.pdf

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: |
            src/grlnotes-a4paper.pdf
            src/grlnotes-b5paper.pdf
