name: build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: nschloe/action-cached-lfs-checkout@v1
      - uses: xu-cheng/latex-action@v4
        with:
          root_file: grlnotes.tex
          working_directory: src
          os: debian
          latexmk_shell_escape: true
          latexmk_use_lualatex: true
          extra_system_packages: "fonts-noto-cjk fonts-cmu"
          extra_fonts: ./fonts/**/*.ttc
      - uses: actions/upload-artifact@v4
        with:
          name: grlnotes
          path: src/grlnotes.pdf
