name: build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: nschloe/action-cached-lfs-checkout@v1
      - uses: xu-cheng/latex-action@v3
        with:
          root_file: grlnotes.tex
          working_directory: src
          args: -r latexmkrc
          latexmk_shell_escape: true
          extra_system_packages: "fonts-noto-cjk"
          extra_fonts: ./fonts/opentype/noto/*.ttc
      - uses: actions/upload-artifact@v4
        with:
          name: grlnotes
          path: src/grlnotes.pdf
