name: build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: xu-cheng/latex-action@v4
        with:
          root_file: grlnotes.tex
          working_directory: src
          os: debian
          latexmk_shell_escape: true
          latexmk_use_xelatex: true
          extra_system_packages: "fonts-noto-cjk"
          extra_fonts: ./fonts/opentype/noto/*.ttc
      - uses: actions/upload-artifact@v4
        with:
          name: grlnotes
          path: src/grlnotes.pdf
