name: build

on: push

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      # - name: Setup Windows Chinese Language Pack
      #   run: |
      #     Install-Language -Language zh-CN -ExcludeFeature
      #   shell: pwsh

      - uses: ccmaymay/setup-texlive-action@v1.0.3
        with:
          profile-path: ${{ github.workspace }}/.github/texlive.profile
          packages-path: ${{ github.workspace }}/.github/texlive.packages

      # - name: Install Test
      #   run: |
      #     tlmgr install ctex
      #     tlmgr install collection-latex
      #     tlmgr install ctex
      #     tlmgr install geometry
      #     tlmgr install hyperref
      #     tlmgr install imakeidx
      #     tlmgr install makecell
      #     tlmgr install multirow
      #     tlmgr install tocbibind
      #     tlmgr install tools
      #     tlmgr install ulem
      #     tlmgr install xindy
      #     tlmgr install tex-gyre
      #     tlmgr install latexmk
      #   shell: pwsh

      - name: Build PDF
        run: |
          lualatex --version
          latexmk --version
          # cd src

          # Copy-Item grlnotes.tex grlnotes-a4paper.tex
          # $content = Get-Content grlnotes-a4paper.tex
          # $content[2] = '\usepackage[a4paper]{geometry}'
          # $content | Set-Content grlnotes-a4paper.tex

          # latexmk -lualatex -interaction=nonstopmode grlnotes-a4paper.tex

          # Copy-Item grlnotes.tex grlnotes-b5paper.tex
          # $content = Get-Content grlnotes-b5paper.tex
          # $content[2] = '\usepackage[b5paper]{geometry}'
          # $content | Set-Content grlnotes-b5paper.tex

          # latexmk -lualatex -interaction=nonstopmode  grlnotes-b5paper.tex
        shell: pwsh

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          path: src/grlnotes-b5paper.pdf

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: |
            src/grlnotes-a4paper.pdf
            src/grlnotes-b5paper.pdf
